body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: greenyellow;
  border: 1px solid black;
}

header {
  background-color: aquamarine;
  border: 1px solid black;
  height: 200px;
  background-image: url("/images/logo_Bright.png");
}

main {
  background-color: aliceblue;
  border: 1px solid black;
}

footer {
  background-color: rgb(14, 14, 13);
  border: 1px solid rgb(213, 249, 8);
  color: gold;
}

.bn31 {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}
